:root {
    /* Font */
    --tittleFont: 'Josefin Sans', sans-serif;
    --buttonFont: 'New Rocker', cursive;
    --textFont: 'Inika', serif;

    /* Color Palette */
    --borderColor: #FFB801;
    --gray: #D9D9D9;
    --white: #FFFFFF;
    --black: #000000;
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}